<div id="tinyMfaManageUserDiv">
  <h4>User Management</h4>
  <p>Search a user to manage using the field below.</p>
  <br />
  <p>
  <div class="col-xs-3">
    <input class="form-control" id="searchAccountField" type="text" data-ng-model="accountName" required>
  </div>
  <button class="btn btn-default" data-ng-click="searchAccount()">search</button>
  </p>
  <div data-ng-show="accountSuccessMessage" class="alert alert-success">
    <span data-ng-show="accountSuccessMessage" data-ng-cloak>{{accountSuccessMessage}}</span>
  </div>
  <div data-ng-show="accountErrorMessage" class="alert alert-danger">
    <span data-ng-show="accountErrorMessage" data-ng-cloak>{{accountErrorMessage}}</span>
  </div>
  <br />
  <div id="tinyMfaManageUserTableDiv" data-ng-show="manageUserInfo">
    <table class="table table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>TinyMFA ID</th>
          <th>identity name</th>
          <th>enabled</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          data-ng-repeat="account in manageUserInfo">
          <td>{{account.id}}</td>
          <td>{{account.account}}</td>
          <td>{{account.enabled}}</td>
          <td><button data-ng-click="enableAccount(account.account, !account.enabled)">{{account.enabled ? 'disable' : 'enable'}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>