<div id="tinyMfaNavigation">
  <ul class="nav nav-pills">
    <li role="presentation"
      data-ng-class="{'active': activelink == 'home'}"><a
      href="#/home">Home</a></li>
    <li role="presentation"
      data-ng-class="{'active': activelink == 'qrcode'}"><a
      href="#/qrcode">Your QRCode</a></li>
    <li role="presentation"
      data-ng-class="{'active': activelink == 'validate'}"><a
      href="#/validate">Test your token</a></li>
    <li role="presentation"
      data-ng-class="{'active': activelink == 'activate'}"><a
      href="#/activate">Activate your token</a></li>
    <li role="presentation"
      data-ng-class="{'active': activelink == 'admin'}"
      data-ng-show="admin === true"><a href="#/admin">Account Administration</a></li>
    <li role="presentation"
      data-ng-class="{'active': activelink == 'audit'}"
      data-ng-show="admin === true"><a href="#/audit">Audit</a></li>
  </ul>
</div>