<div id="tinyMfaNavigation">
  <ul class="nav nav-pills">
    <li role="presentation" ng-class="{'active': activelink == 'home'}"><a href="#/home">Home</a></li>
    <li role="presentation" ng-class="{'active': activelink == 'qrcode'}"><a href="#/qrcode">Your QRCode</a></li>
    <li role="presentation" ng-class="{'active': activelink == 'validate'}"><a href="#/validate">Test your token</a></li>
    <li role="presentation" ng-class="{'active': activelink == 'activate'}"><a href="#/activate">Activate your token</a></li>
    <li role="presentation" ng-class="{'active': activelink == 'admin'}" ng-show="admin === true"><a href="#/admin">Administrative Page</a></li>    
  </ul>
</div>