<div id="tinyMfaQuickstart">
  <ol>
    <li>get a Multifactor Authentication app for your phone or tablet
      <ul>
        <li><a href="{{iosAppstoreLink}}" target="_blank">Apple iOS</a></li>
        <li><a href="{{androidAppstoreLink}}" target="_blank">Android</a></li>
      </ul>
    </li>
    <li><a href="#/qrcode"><b>Generate</b> a QRCode and scan it with your app</a></li>
    <li><a href="#/validate"><b>Validate</b> your Multifactor Authentication setup</a></li>
    <li><a href="#/activate"><b>Activate</b> your Multifactor Authentication setup</a></li>
  </ol>
</div>