<div id="tinyMfaValidatorDiv">
  <div data-ng-show="validationError" class="alert alert-danger">
    <span data-ng-show="validationError" data-ng-cloak>{{validationError}}</span>
  </div>
  <div data-ng-show="validationSuccess" class="alert alert-success">
    <span data-ng-show="validationSuccess" data-ng-cloak>{{validationSuccess}}</span>
  </div>
  <form data-ng-submit="validateToken(tokenValue)">
    <table id="validateTokenTable" class="table table-striped table-hover table-condensed">
      <tr>
        <th>Enter your token in the field below ...</th>
        <th>... then click on validate</th>
      </tr>
      <tr>
        <th><input type="text" name="tokenValue" data-ng-model="tokenValue" class="form-control"/></th>
        <th><input type="submit" value="validate" class="btn btn-link btn-large btn-block"/></th>
      </tr>
     </table>
  </form>
</div>