<div id="tinyMfaValidator">
  <div data-ng-show="validationError" class="alert alert-danger">
    <span data-ng-show="validationError" data-ng-cloak>{{validationError}}</span>
  </div>
  <div data-ng-show="validationSuccess" class="alert alert-success">
    <span data-ng-show="validationSuccess" data-ng-cloak>{{validationSuccess}}</span>
  </div>
  <form data-ng-submit="validateToken(tokenValue)">
    <table id="validateTokenTable" class="table-striped table-hover table-condensed">
      <tr>
        <th>Enter your 6 digit token below</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td><input type="text" pattern="^\d{6,6}$" data-ng-pattern-restrict name="tokenValue" data-ng-model="tokenValue" class="form-control" required/></td>
        <td><input type="submit" value="validate" class="btn btn-link btn-large btn-block"/></td>
      </tr>
     </table>
  </form>
</div>