<tiny-mfa-navigation activelink="activate"></tiny-mfa-navigation>
<div id="tinyMfaActivatePartialDiv">
  <h3><small>Multifactor-Authentication</small></h3>
  <h2>{{headline}}</h2>
  <p>This is the <i>Activation</i> page. On this page, you can enable your Multifactor Authentication setup.<p>
  <p>to do this, just enter the token that is shown on your Multifactor Authentication app in the textbox below and click on activate.</p>
  <p><b>After successful activation, you have to enter a token on your next login!</b></p>
  <tiny-mfa-activator></tiny-mfa-activator>
</div>