<ul class="nav nav-pills">
	<li role="presentation"><a href="#/home">Home</a></li>
  <li role="presentation"><a href="#/qrcode">Your QRCode</a></li>
  <li role="presentation"><a href="#/validate">Test your token</a></li>
  <li role="presentation" class="active"><a href="#/activate">Activate your token</a></li>
</ul>
<h3><small>Multifactor-Authentication</small></h3>
<hr />
<h2>{{headline}}</h2>
<p>This is the <i>Activation</i> page. On this page, you can enable your Multifactor Authentication tool.<br/>
to do this, just enter the token that is shown on your google-authenticator app in the textbox below and click on activate.</p>
<p>After successful activation, you have to enter a token on your next login</p>
<div id="validateDiv">
  <div data-ng-show="activationError" class="alert alert-danger">
    <span data-ng-show="activationError" data-ng-cloak>{{activationError}}</span>
  </div>
  <div data-ng-show="activationSuccess" class="alert alert-success">
    <span data-ng-show="activationSuccess" data-ng-cloak>{{activationSuccess}}</span>
  </div>
  <form data-ng-submit="activateToken(tokenValue)">
    <table id="activateTokenTable" class="table table-striped table-hover table-condensed">
      <tr>
        <th>Enter your token in the field below ...</th>
        <th>... then click on activate</th>
      </tr>
      <tr>
        <th><input type="text" name="tokenValue" data-ng-model="tokenValue" class="form-control"/></th>
        <th><input type="submit" value="activate" class="btn btn-link btn-large btn-block"/></th>
      </tr>
     </table>
  </form>
</div>