<tiny-mfa-navigation activelink="activate"></tiny-mfa-navigation>
<h3><small>Multifactor-Authentication</small></h3>
<h2>{{headline}}</h2>
<p>This is the <i>Activation</i> page. On this page, you can enable your Multifactor Authentication tool.<br/>
to do this, just enter the token that is shown on your google-authenticator app in the textbox below and click on activate.</p>
<p>After successful activation, you have to enter a token on your next login</p>
<tiny-mfa-activator></tiny-mfa-activator>