<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#/home">Home</a></li>
  <li role="presentation"><a href="#/qrcode">Your QRCode</a></li>
  <li role="presentation"><a href="#/validate">Test your token</a></li>
  <li role="presentation"><a href="#/activate">Activate your token</a></li>
</ul>
<h3><small>Multifactor-Authentication</small></h3>
<hr />
<h2>{{headline}}</h2>
<p>This is the <i>Tiny Multifactor-Authentication Plugin</i> page. Here is a quick cheatsheet on how to get started:<br/></p>
<ol>
  <li>get the google authenticator app for your phone or tablet (<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=de">Android</a> &amp; <a href="https://itunes.apple.com/de/app/google-authenticator/id388497605?mt=8">iPhone</a>)</li>
	<li><a href="#/qrcode"><b>Generate</b> a QRCode and scan it with your app</a></li>
  <li><a href="#/validate"><b>Validate</b> your google authenticator setup</a></li>
  <li><a href="#/activate"><b>Activate</b> your google authenticator setup</a></li>
</ol>