<ul class="nav nav-pills">
	<li role="presentation"><a href="#/home">Home</a></li>
  <li role="presentation" class="active"><a href="#/qrcode">Your QRCode</a></li>
</ul>
<h3><small>Multifactor-Authentication</small></h3>
<hr />
<h2>{{headline}}</h2>
<p>This is the <i>Tiny Multifactor-Authentication Plugin</i> page. Here is your QRCode, to be used with a google Authenticator:<br/>
<div id="qrCodeDiv">
  <p>{{errorMessage}}</p>
  <img crossorigin="anonymous" src="{{qrCode}}" width="400" height="400" style="width: 200px; height: 200px"></img>
</div>
</p>