<ul class="nav nav-pills">
  <li role="presentation"><a href="#/home">Home</a></li>
  <li role="presentation" class="active"><a href="#/qrcode">Your QRCode</a></li>
  <li role="presentation"><a href="#/validate">Test your token</a></li>
</ul>
<h3><small>Multifactor-Authentication</small></h3>
<hr />
<h2>{{headline}}</h2>
<p><i>Here is your QRCode!</i> scan this code with your google authenticator <a href="#/home">app</a>.<br/>
<div id="qrCodeDiv">
  <p>{{errorMessage}}</p>
  <img crossorigin="anonymous" src="{{qrCode}}" width="400" height="400" style="width: 300px; height: 300px"></img>
  <p>Once the setup has been completed, you may <a href="#/validate">test it here</a></p>
</div>
</p>