<tiny-mfa-navigation activelink="validate"></tiny-mfa-navigation>
<div id="tinyMfaValidatePartialDiv">
  <h3><small>Multifactor-Authentication</small></h3>
  <h2>{{headline}}</h2>
  <p>This is the <i>Validation</i> page. On this page, you can try to validate your Multifactor Authentication setup.</p>
  <p>to do this, just enter the token that is shown on your Multifactor Authentication app in the textbox below and click on validate.</p>
  <p>&nbsp;</p>
  <tiny-mfa-validator></tiny-mfa-validator>
</div>