/* app css stylesheet */

#modifyTable {
	font-size: 1.3em;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: auto;
}

.container-fluid {
	padding-left: 250px;
	padding-top: 50px;
}
